<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/listProducts.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <main class="listProducts">
        <div>
            <a href="./productAdd"><button class="crearProducto">Crear Producto</button></a>
        </div>
        <div class="filtradoLista">
            <form action="/" method="get" class="elegirfiltrado">
                <h4>Filtrar:</h4>
                <div>
                    <select name="categorias">
                        <option value="categoria-1">categoria 1</option> 
                        <option value="categoria-2">categoria 2</option>
                        <option value="categoria-3">categoria 3</option>
                    </select> 
                </div>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th id="nombre">Nombre Producto</th>
                    <th id="descripcion">Descripcion</th>
                    <th id="precio">Precio</th>
                    <th id="categoria">Categoria</th>
                </tr>
                <% for(producto of productos){%>
                    <tr>
                        <td id="nombre"> <%= producto.titulo %>  </td>
                        <td id="descripcion"> <%= producto.descripcion %> </td>
                        <td id="precio"> <%= producto.precio %>  </td>
                        <td id="categoria"> <%= producto.categoria %>  </td>
                        <td><button class="botonEditar"> editar </button></td>
                        <td><button class="botonEliminar"> eliminar</button></td>
                    </tr>
                <% } %>
            </table>
        </div>

    </main>
    <%- include('../partials/footer') %> 
</body>
</html>